<form method="post" id="logForm" class="formulaire">
    <label for="username">Nom d'utilisateur:</label>
    <input type="text" id="username" name="username" value="User 1" required>
    
    <label for="password">Mot de passe:</label>
    <input type="password" id="password" name="password" value="Password1" required>
    
    <div class="form-button">
        <button type="button" id="createAccountButton"><a href="signin.php">Créer un compte</a></button>
        <input type="submit" name="login" value="Se connecter">
    </div>
</form>