<nav class="main-menu">
    <ul class="page-menu">
        <li>
            <a href="movie.php">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">Films</span>
            </a>
        </li>
        <li>
            <a href="settings.php">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-text">Paramètres</span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a href="logout.php" id="power-off">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">Déconnexion</span>
            </a>
        </li>
    </ul>
</nav>